
  

  
  .layer-0 {
    
    width: 600px;
    height: 300px;
    
    background: #1c244f;
    opacity: 0.1;
  }
  
  .layer-1 {
   
    width: 450px;
    height: 300px;
    bottom: 90px;
    top:100px;
    right: 50px;
    background: #003b48;
  }
  
 
  
 
  
  .note-of-rector {
   
    padding: 10px 10px 10px 10px;
  }
  
  .note-of-rector h3{
    font-size: 25px;
  }
  
  
 
  
  .note-of-rector button {
    border: none;
    background: none;
    margin-top: 20px;
    margin-left: 80%;
    padding: 8px 15px;
    border: 2px inset black;
    
  }
  
  .blog-of-rector button{
    cursor: pointer;
  }