video {
    width: 100%;
    overflow: hidden;
  }
  .bannerInfo{
z-index: 1000;
    margin-top: -800px !important;
  }
  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
  }